/* 
elements for the first page (index.html)
some of these elements might be used universally across all pages
the names of the major elements will stay the same, apart from a prefix. 
the prefix will simply be the name of the file/page.
example (.index_code_bg and .poem_code_bg)
*/

.index_body {
    background-color: #30333A;
    margin: 0px;
    outline-width: 0px;
}
.index_bar {
    height: 150px;
    width: 100%;
    left: 0px;
    background-color: rgba(44, 43, 51, 0);
    background-image: linear-gradient(#14171E, rgba(0, 0, 0, 0));
    margin: 0px;
    position: absolute;

}
.index_code_bg {
    height: 600px;
    width: 100%;
    background-color: rgb(180, 37, 37);
    background: url(title_page.png);
    position: absolute;
    margin: 0px;
    top: 0px;
    overflow: hidden;
    
}
.index_name {
    color: #EAECF4;
    position: absolute;
    top: 40px;
    left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-decoration: none;
    display: block;
}    
.index_logo {
    width: 40px;
    position: absolute;
    top:6px;
    left:-50px;
}
/* Dropdown Button */
.index_dropbtn {
    background-color: #00000000;
    color: #EAECF4;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 35px;
    width: 150px;
  }
  /* The container <div> - needed to position the dropdown content */
  .index_dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 300px;
    width: 150px;
    
  }
  /* Dropdown Content (Hidden by Default) */
  .index_dropdown-content {
    display: none;
    position: absolute;
    background-color: #EAECF4;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 150px;
  }
  /* Links inside the dropdown */
  .index_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Change color of dropdown links on hover */
  .index_dropdown-content a:hover {background-color: rgb(28, 167, 160);}
  /* Show the dropdown menu on hover */
  .index_dropdown:hover .index_dropdown-content {display: block;}
  /* 
  Change the background color of the dropdown button 
  when the dropdown content is shown 
  */
  .index_dropdown:hover .index_dropbtn {background-color: #00000000;}


/*
End of index.html elements
______________________________________________________________________________________________

Start of universal elements
*/

.uni_body {
    background-color: #1C1D21;
    margin: 0px;
    outline-width: 0px;
}

.uni_bar {
    height: 150px;
    width: 100%;
    left: 0px;
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    position: absolute;

}

.uni_code_bg {
    height: 70px;
    width: 100%;
    background-color: #26272B;
    position: absolute;
    margin: 0px;
    top: 0px;
    overflow: hidden;
    
}



  .uni_name {
    color: #e6e6e6;
    position: absolute;
    top: 20px;
    left: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
    display: block;
}    

.uni_logo {
    width: 30px;
    position: absolute;
    top:6px;
    left:-50px;
}

/* Dropdown Button */
.uni_dropbtn {
    background-color: #00000000;
    color: #e6e6e6;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 13px;
    width: 150px;
  }
  /* The container <div> - needed to position the dropdown content */
  .uni_dropdown {
    position: absolute;
    display: inline-block;
    margin-left: 300px;
    width: 150px;
    
  }
  /* Dropdown Content (Hidden by Default) */
  .uni_dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 150px;
  }
  /* Links inside the dropdown */
  .uni_dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
  }
  /* Change color of dropdown links on hover */
  .uni_dropdown-content a:hover {background-color: rgb(28, 167, 160);}
  /* Show the dropdown menu on hover */
  .uni_dropdown:hover .uni_dropdown-content {display: block;}
  /* 
  Change the background color of the dropdown button 
  when the dropdown content is shown 
  */
  .uni_dropdown:hover .uni_dropbtn {background-color: #00000000;}



  .uni_intro {
    background-color: #26272B;
    color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 600px;
    max-width: 50%;
    max-height: 800px;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-bottom: 100px;
    overflow: auto;
    box-sizing: border-box;
    padding: 15px;
    padding-left: 25px;
    border-width:2px;
    border-style:solid;
    border-color:#35363b;
  }



  .uni_window {
    background-color: #26272B;
    min-width: 600px;
    max-width: 50%;
    max-height: 800px;
    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-bottom: 200px;
    overflow: auto;
    box-sizing: border-box;
    padding: 25px;
    border-width:2px;
    border-style:solid;
    border-color:#35363b;
  }

  .uni_window_text {
    color: #e6e6e6;
    font-size: 15px;
  }

  .uni_window_render {
    background-color: #ffffff;
    min-width: 600px;
    max-width: 50%;
    height: 800px;
    position: relative;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-bottom: 500px;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 25px;
    border-width:2px;
    border-style:solid;
    border-color:#35363b;
  }